* {
    margin: 0;
    padding: 0;
}

body {
    background: #080808;
    color: white;
}

.headder {
    width: 100%;
    height: 100vh;
    background: url(images/BG.jpg);
    background-position: center;
    background-size: cover;
}

.container {
    padding: 10px 10%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 201px;
}

.logo {
    width: 200px;
    padding-top: 20px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 5px 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 28px;
    font-family: 'Courier New', Courier, monospace;
    position: relative;
}

nav ul li a::after {
    content: '';
    width: 0%;
    height: 5px;
    background: red;
    position: absolute;
    left: 0;
    bottom: -3px;
    transition: 0.5s;
}

nav ul li a:hover::after {
    width: 100%;
}

.container nav ul li span {
    color: red;
}
