* {
    margin: 0;
    padding: 0;
}

body {
    background: #080808;
    color: white;
}

.headder {
    width: 100%;
    height: 100vh;
    background: url(images/BG.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.container {
    padding: 10px 10%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 201px;
}

.logo {
    width: 200px;
    padding-top: 20px;
}

.hero {
    padding-top: 100px;
    font-size: 25px;
    margin-left: 8%;
}

.hero h1 span {
    color: red;
}

.hero nav ul li span{
    color: red;
}

.hero a{
    text-decoration: none;
    background-color: red;
    border-radius: 5px;
    color: black;
}

.hero a:hover{
    background-color: #f52222;
    transform: scale(1.1);
    transition: 0.3s ease;
}

.media ul {
    /* display: flex; */
    list-style-type: none;
    /* background-color: whitesmoke; */
    position: fixed;
    bottom: 50%;
    right: 20px;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.media ul li{
    /* background-color: whitesmoke; */
    align-items: center;
    justify-content: center;
    border-radius: 25%;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    height: 32px;
}

.media ul li a i{
    /* background-color: whitesmoke; */
    /* align-items: center; */
    /* justify-content: center; */
    /* border-radius: 25%; */
    /* margin: 0px 0px 0px 0px; */
    /* padding: 0px 0px 0px 0px; */
    height: 32px;
    font-size: 24px;

}

i:hover {
    transform: scale(1.2);
    transition: 0.3s ease;
}

.wa{
    border-radius: 100%;
    background-color: green;
    height: 36px;
    width: 36px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wa:hover{
    background-color: #25D366;
    transform: scale(1.1);
    transition: 0.3s ease;
    z-index: 1000;
}

.footer {
    background: #080808;
    width: 100%;
    height: 25%;
    display: inline-flex;
    Align-items: center;
    justify-content: center;
    /* margin: 36px; */
}

.bottom {
    height: 25%;
    width: 50%;
    border: 2px solid RED;
    /* padding: 20px; */
    align-items: center;
    text-align: center;
}
